html, body {
  margin: 3%;
  padding: 0;
  text-align: center;
}
canvas {
  display: block;
  text-align: center;
  margin: auto;
}

main{
  text-align: center;
}
footer{
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 2%;
}